.rater {
	.rating-icon {
		margin: 0 2px;
		width: 19px;
		height: 19px;
		display: inline-block;
		cursor: pointer;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}