.results-rating {
	color: #000;

	.code {
		font-weight: 900;
		font-size: 16px;
		margin-left: 10px;
	}

	.rank {
		margin-right: 10px;
		font-weight: 900;
	}

	.recipe-name {
		font-weight: bold;
	}

	.rater {
		margin-bottom: 12px;
	}

	div {
		margin-top: 3px;
	}
}