<h1>Log in</h1>
<form novalidate>
  <div class="row">
      <div class="form-group col-xs-12">
        <label for="emailInput" class="control-label">Email</label>
        <input type="email" class="form-control" id="emailInput" placeholder="Email" ng-model="email">
      </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="passwordInput" class="control-label">Password</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="Password" ng-model="password">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{{message}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
        <button type="submit" class="btn btn-primary" ng-click="logIn()">Log in</button>
    </div>
    <div class="col-xs-6">
      <p class="pull-right"><a href="#/signup">(Sign up instead)</a></p>
    </div>
  </div>
</form>
<content-bottom></content-bottom>
