<h1>login</h1>
<form novalidate>
  <div class="row">
      <div class="form-group col-xs-12">
        <label for="emailInput" class="control-label">email</label>
        <input type="email" class="form-control" id="emailInput" placeholder="email" ng-model="email">
      </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="passwordInput" class="control-label">password</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="password" ng-model="password">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{{message}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
        <button type="submit" class="btn btn-primary" ng-click="logIn()">log in</button>
    </div>
    <div class="col-xs-6">
      <p class="pull-right"><a href="#/signup">sign up instead</a></p>
    </div>
  </div>
</form>
<content-bottom></content-bottom>
