
<h1>Cupping</h1>
<p class="bg-danger">{{message}}</p>
<h2>Cups not tasted</h2>
<ul class="list-unstyled">
	<div class="row">
		<div ng-repeat="recipe in notRated.results" class="col-xs-6">
			<a ng-href="#/rating/{{recipe.objectId}}">
				<li>
					<div class="cupping-not-tasted"><span class="code" ng-style="{'color': recipe.color}">{{recipe.code}}</span></div>
				</li>
			</a>
		</div>
	</div>
</ul>
<h2>Cups tasted</h2>
<ul class="list-unstyled">
	<li ng-repeat="rating in myRatings.results">
		<a ng-href="#/rating/{{rating.recipe.objectId}}">
			<div class="cupping-tasted">
				<span class="code" ng-style="{'color': rating.recipe.color}">{{rating.recipe.code}}</span>
				<rater value="rating.rating_value" editable="false">
			</div>
		</a>
	</li>
</ul>
<button class="btn btn-primary btn-block" ng-click="finish()">Done tasting</button>
<content-bottom></content-bottom>
