
<h1>cupping</h1>
<div class="row" ng-show="message">	
	<div class="col-xs-12">
		<p class="bg-danger">{{message}}</p>
	</div>
</div>
<div class="row>">
	<div class="col-xs-12">
		<h2>cups not tasted</h2>
		<ul>
			<li ng-repeat="recipe in notRated.results">
				<div><a ng-href="#/rating/{{recipe.objectId}}">{{recipe.code}}. {{recipe.brew_method.name}}</a></div>
			</li>
		</ul>
	</div>
</div>
<div class="row>">
	<div class="col-xs-12">
		<h2>cups tasted</h2>
		<ul>
			<li ng-repeat="rating in myRatings.results">
				<div><a ng-href="#/rating/{{rating.recipe.objectId}}">{{rating.recipe.code}}: {{rating.rating_value}} stars</a></div>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-primary" ng-click="finish()">i'm done</button>
	</div>
</div>
<content-bottom></content-bottom>
