
<h1>cupping</h1>
<div class="row" ng-show="message">	
	<div class="col-xs-12">
		<p class="bg-danger">{{message}}</p>
	</div>
</div>
<div class="row>">
	<div class="col-xs-12">
		<h2>cups not tasted</h2>
		<ul>
			<li ng-repeat="recipe in allRecipes">
				<div>{{recipe.brew_method.name}}</div>
			</li>
		</ul>
	</div>
</div>
<div class="row>">
	<div class="col-xs-12">
		<h2>cups tasted</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-primary" ng-click="finish()">i'm done</button>
	</div>
</div>
<div class="row">	
	<div class="col-xs-12">
		<a ng-click="logOut()" style="cursor: pointer">log out</a>
	</div>
</div>
<content-bottom></content-bottom>
