<h1 ng-show="recipe.$resolved">Rate cup <span ng-style="{'color': recipe.color}" class="code">{{recipe.code}}</span></h1>
<div class="margin-bottom">
	<rater value="ratingValue" editable="true" size="25px"></rater>
</div>
<div class="margin-bottom">
	<textarea class="form-control" rows="3" placeholder="comments" ng-model="comments"></textarea>
</div>
<div class="row margin-bottom">
	<div class="col-xs-7">
		<button class="btn btn-primary btn-block" ng-click="onSubmit()">submit</button>
	</div>
	<div class="col-xs-5">
		<button class="btn btn-default btn-block" ng-click="goHome()">cancel</button>
	</div>
</div>
<div class="margin-bottom" ng-show="ratingId">
	<button class="btn btn-danger btn-sm center-block" ng-click="onUnrate()">Unrate</button>
</div>
